/* line 17, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/screen.scss */
body, html {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #fff;
  height: 100%;
  width: 100%;
}

/* line 11, ../sass/screen.scss */
.info {
  position: absolute;
  right: -50px;
  top: -50px;
  height: 96px;
  width: 96px;
  text-align: center;
  font-family: "Helvetica Neue", "Arial", "sans-serif";
  font-weight: 300;
  cursor: pointer;
  -webkit-transform: translate3d(0, 0px, 0) rotate(45deg);
  -moz-transform: translate3d(0, 0px, 0) rotate(45deg);
  -ms-transform: translate3d(0, 0px, 0) rotate(45deg);
  -o-transform: translate3d(0, 0px, 0) rotate(45deg);
  transform: translate3d(0, 0px, 0) rotate(45deg);
  -webkit-transform-origin: center 50%;
  -moz-transform-origin: center 50%;
  -ms-transform-origin: center 50%;
  -o-transform-origin: center 50%;
  transform-origin: center 50%;
  -webkit-transition: 600ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: 600ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 600ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: 600ms cubic-bezier(0.19, 1, 0.22, 1);
  border-bottom: 1px solid #777;
}
/* line 25, ../sass/screen.scss */
.info .info-text {
  cursor: pointer;
  background-color: #eee;
  color: #444;
  width: 56px;
  height: 20px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  margin: auto;
  line-height: 20px;
  -webkit-transition: -webkit-transform 600ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: -moz-transform 600ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: -o-transform 600ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 600ms cubic-bezier(0.19, 1, 0.22, 1);
}
/* line 41, ../sass/screen.scss */
.info:hover .info-text {
  background-color: transparent;
  -webkit-transform: translate3d(0, -10px, 0);
  -moz-transform: translate3d(0, -10px, 0);
  -ms-transform: translate3d(0, -10px, 0);
  -o-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
}


/* line 61, ../sass/screen.scss */
#screen-container {
	width: 100%;
	height: 100%;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}

/* line 76, ../sass/screen.scss */
#home {
  -webkit-transform-origin: center 50%;
  -moz-transform-origin: center 50%;
  -ms-transform-origin: center 50%;
  -o-transform-origin: center 50%;
  transform-origin: center 50%;
  height: 100%;
  width: 100%;
  opacity: 0;
  overflow: hidden;
  border-radius: 10px;
}

/* line 85, ../sass/screen.scss */
.home-button {
  width: 100px;
  height: 30px;
  top: 76px;
  right: 0;
  background-color: #fd0000;
  cursor: pointer;
}

/* line 95, ../sass/screen.scss */
.appicon {
  background-color: #ddd;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transform-origin: center;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: black;
  text-align: center;
  line-height: 16px;
  padding-top: 16px;
  box-sizing: border-box;
  background-size: 100%;
}

.add-block {
  position: absolute;
  width: 100%;
  justify-content: center;
}

.content-txt {
  min-width: 300px;
  font-size: 20px;
  min-height: 30px;
  cursor: text;
}

.add-btn {
  cursor: pointer;
  width: 100px;
  margin-left: 20px;
  text-align: center;
  background-color: #fd0000;
  color: #eee;
}

.validate-alert {
  width: 130px;
  display: none;
}

.modal-color {
  background-color: rgba(0, 0, 0, 0.35);
}
